html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, main, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    vertical-align:baseline;
    list-style-type: none;
    font-weight: unset;
    border: none;
}

article{
    width: 100vw;
    height: 100vh;
    overflow:auto;
    overflow-x: hidden;
}

section,header {
    width: calc(100% - 2rem);
    padding: 1rem 1rem 0rem 1rem;
}

th, li{
    vertical-align: middle;
}

#filter-list {
    display: inline-block;
}

#current-filter-list li {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    margin: 0 0.5rem;
}

#pokemon-list {
    width: 100%;
}

#pokemon-list tr {
    height: 2rem;
    cursor: pointer;
}
#pokemon-list tr:hover {
    background-color: rgba(255, 255, 255, 0.35);
}

#pokemon-grid li {
    display: inline-table;
    padding: 0;
    border: 1px solid rgba(128, 128, 128, 0.5);
    cursor: pointer;
}
#pokemon-grid li:hover {
    background-color: rgba(255, 255, 255, 0.35);
}

li {
    display: inline-block;
    padding: 0.5rem;
}

ul {
    text-align: center;
}

.even{
    background-color: rgba(180, 180, 180, 0.2);
}
.odd{
    background-color: rgba(80, 80, 80, 0.2);
}

input, select {
    border: none;
    padding: 0.3rem;
    margin: 0 0.3rem 0 0.5rem;
}

button{
    border: none;
    padding: 0.2rem;
    margin: 0 0.3rem;
}

.active{
    color: rgba(255, 255, 255, 1);
}

.inactive{
    color: rgba(50, 50, 50, 0.5);
}

#nav-list li{
    padding: 0 0.5rem;
    cursor: pointer;
}

#mode-table, #mode-grid {
    font-size: 2rem;
}

#mode-night, #mode-day {
    font-size: 1.2rem;
}

#pokemon-info{
    width: 100%;
    overflow: hidden;
}
.hidden-info {
    max-height: 0;
    transition: max-height 0.5s ease;
}
.shown-info {
    max-height: 100vh;
    transition: max-height 1s ease;
}