html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, main, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    vertical-align:baseline;
    background:transparent;
    list-style-type: none;
    font-weight: unset;
}

section{
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-top: 1rem;
}

#pokemon-list {
    width: 100%;
}

#pokemon-list tr {
    height: 2rem;
    text-align: center;
}

#filter-list {
    text-align: center;
}

#filter-list li {
    display: inline-block;
    padding: 0.5rem;
}

#current-filter-list {
    text-align: center;
}

#current-filter-list li {
    display: inline-block;
    padding: 0.5rem;
}